/* navigation bar */

  .topnav {
    overflow: hidden;
    font-family: inferno;
  }
  
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav a:hover {
    text-decoration: underline;
    color: black;
  }


  /* other */
.center {
    text-align: center;
}

.noMargins {
    margin: 0px 0px 0px 0px;
}

.inferno{
    font-family: inferno;
}

@font-face {
    font-family: inferno;
    src: url("royal_inferno/Royal-Inferno.ttf");
  }

div {
    padding: 0px 30px 0px 30px;
}

h1 {
    font-size: 100px;
}

h4{
    font-family: Optima, sans-serif;
}

header{
    padding: 50px;
}

html {
    scroll-behavior: smooth;
  }

/*sections*/
.row{
    display: flex;
    justify-content: center;
  }
  .column{
    float: left;
    width: 33.33%;
    padding: 0px;
  }

  .columnText{
      font-family: Optima, sans-serif;
      margin: 0px 100px 100px 100px;
  }

  .justified{
    text-align: justify;
  }

  
  .leftText{
      margin: 0px 0px 0px 200px;
      text-align: left;
  }

  .rightText{
      margin: 0px 200px 0px 0px;
      text-align: right;
  }